on:
  push:

name: Build

jobs:
  tinygo-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod

      - name: Install dependencies
        run: go get .

      - name: Run Tests
        run: |
          GOCACHE=$(mktemp -d)
          go env -w GOCACHE=$GOCACHE
          go test -v ./...
          go env -u GOCACHE

      - name: Install TinyGo
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh release download --pattern '*amd64.deb' --repo tinygo-org/tinygo
          sudo dpkg -i tinygo_*.deb

      - name: Build
        id: build
        run: |
          tinygo build -o rp24-dcc-decoder.uf2 -target pico2
          echo "short_sha=$(git rev-parse --short HEAD)" >> "$GITHUB_OUTPUT"

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: rp24-dcc-decoder-${{ steps.build.outputs.short_sha }}.uf2
          path: rp24-dcc-decoder.uf2